body {
    background:url(../bg.png) no-repeat;
    margin: 0px;
    background-size: 100% 100%;
    background-attachment: fixed;
    
    }
.row{
    height: 600px;
}

#brief_div{
    background-color: orangered;
    height: 100%;
}

#brief_div > .brief {
    background-color: gray;
    margin-top: 10px;
    height: 70%;
}

#example_div{
    background-color: black;
    height: 100%;
}

.buttons_group{
    width: auto;
    display: block;
    margin:0 auto;
}

.register_button{
    margin-left: 30px;
}

.login_button{
    margin-right: 30%;
}

/* .slide_item */
.slide_item {
    padding-top: 184px;
    padding-bottom:294px;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slide_item h2 {
	color:#fff;
	font-size:70px;
	font-weight:500;
	line-height: 1.28;
	margin-bottom: 27px;
	font-family: 'Playfair Display', serif;
	text-transform: capitalize;
}
.slide_item p {
	color:#fefefe;
	font-size:24px;
	max-width:805px;
	font-family: 'Lato', sans-serif;
    line-height: 1.5;
	margin-bottom:51px;
}
.slide_item button.slide-btn,
.slide_item  button:active .slide-btn ,
.slide_item button:focus .slide-btn{
	display: inline-block;
    background: #f5f5fb;
    padding: 17px 50px;
    color: #5549af;
    border: 1px solid #f5f5fb;
	font-size:16px;
	font-weight:600;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin-right: 36px;
	margin-bottom: 30px;
	outline:0;
	box-shadow:none;
	-webkit-transition:.5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
}

.slide_item  button.slide-btn:hover{
	 background: transparent;
	 color: #fff;
	 border: 1px solid #fff;
}
.slide_item.slide-1 {
	background-image:url(../../assets/images/banner/banner1.jpg);
	position:relative;
	z-index:1;
}
.slide_item.slide-2 {
	background-image:url(../../assets/images/banner/banner2.jpg);
	position:relative;
	z-index:1;
}
.slide_item.slide-1:before,.slide_item.slide-2:before{
	background:rgba(115,112,215,.6);
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	content:'';
	z-index:-1;
}
.slide_item-img img{
	width:auto;
	height:705px;
}
/* .slide_item */