body {
background:url(../bg.png) no-repeat;
margin: 0px;
background-size: 100% 100%;
background-attachment: fixed;

}
.login-pad{
  background: rgba(42, 44, 57, 0.9);
  margin-top: 100px;
  border-radius: 20px;
  height:400px;

}
.heading-section {
  font-size: 28px;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.login-wrap {
  position: relative;
  color: white;
  width: 100%;
  display: block;
  border-radius: 20px;
  color: #fff;
  width: 100%; 
 }
  .login-wrap h3 {
    font-weight: 300;
    color: #fff; 
  }

.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.checkbox-primary {
  color: rgba(221, 82, 17, 0.966);
}
.checkbox-primary input:checked ~ .checkmark:after {
  color: rgba(221, 82, 17, 0.966); }

.btn.btn-primary {
  background: rgba(221, 82, 17, 0.966)!important;
  border: 1px solid rgba(221, 82, 17, 0.966) !important;
  color: #000 !important; 
}

  .form-control {
  background: transparent;
  border: none;
  height: 50px;
  color: white !important;
  border: 1px solid transparent;
  background: rgba(170, 156, 156, 0.13);
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

  .form-control:hover, .form-control:focus {
    background: transparent;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.4); }
  .form-control:focus {
    border-color: rgba(255, 255, 255, 0.4); }
  
  .form-control::placeholder{
    color:white;
  }

  .form-control:focus {
    background-color: transparent;
    border-color: rgba(221, 82, 17, 0.966);
    outline: 0;
  }