
    {% extends "base.html" %}
    {% block content %}
    <script src="static/js/game.js"></script>
    <link href="static/css/game.css" rel="stylesheet">
    <div class="container-xxl">
      <div class="row">
        <div class="col-lg-8 game" >
            <!-- game table -->
            <h1>game</h1>
                <table id="game_table">
                     {% for num in [0,9,18,27,36,45,54,63,72] %}
                        <tr>
                            {% for j in [0,1,2,3,4,5,6,7,8] %}
                            {% if (num+j) in random_list %}
                            <td contenteditable="false" style="background-color: coral;">{{ game[num+j] }}</td>
                            {% else %}
                            <td contenteditable="true"></td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                     {% endfor %}
                </table>
            <div id="result"></div>
            <div class="button">
            {% if user_flag %}
                <button  id="start_button" onclick="start_game()" >start</button>
            {% else %}
                <button  id="start_button_no_user" onclick="javascript:window.location.href='/login'" >start</button>
            {% endif %}
            <button  id="submit_table" onclick="get_table_num()" >submit</button>
            {% if is_admin == 0 %}
                <button  id="upload_button"  onclick="javascript:window.location.href='/upload'" >upload</button>
            {% endif %}
        </div>
        </div>
        <!-- Rank List-->
        <div class="col-lg-3 offset-lg-1 rank">
            <h1>Sudoku Rank</h1>
            <ul id="rank_ul">
                {% if rank_list | length < 10 %}
                {% for rank_line in rank_list %}
                    <li> No.{{rank_line.rank}}   {{rank_line.player_name}}: Min completion time: {{rank_line.best_mark}}s</li>
                {% endfor %}
                {% else %}
                {% for i in [0,1,2,3,4,5,6,7,8,9] %}
                    <li> {{i}}. {{rank_line[i].player_name}}: best rank {{rank_line[i].best_mark}}</li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
      </div>

</div>
    {% endblock %}
</html>