
<link href="static/css/index.css" rel="stylesheet">
    <!--owl.carousel.css-->
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link href="static/css/owl.theme.default.min.css" rel="stylesheet"/>
<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<body>
    {% extends "base.html" %}
    {% block content %}
    <section class="slide">
        <div id="index_carousel"class="carousel carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#index_carousel" data-slide-to="0" class="active"></li>
                <li data-target="#index_carousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="slide_item slide1">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="single_item_content">
                                        <h2>Consult Your <br> Business With Us</h2>
                                        <p>
                                            We are the unique Consultancy Farm for your business solution, That is ready to take challenge and knockout your business problems. 
                                        </p>
                                        <button type="button" class="slide-btn">
                                        get started
                                        </button>
                                        <button type="button"  class="slide-btn">
                                            explore more
                                        </button>
                                        
                                    </div><!-- /.single-slide-item-content-->
                                </div><!-- /.col-->
                            </div><!-- /.row-->
                        </div><!-- /.container-->

                    </div>
                </div>
                <div class="item">
                    <div class="slide_item slide2">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="single_item_content">
                                        <h2>
                                            Consult Your <br> Business
                                        </h2>
                                        <p>
                                            We are the unique Consultancy Farm for your business solution, That is ready to take challenge and knockout your business problems.  
                                        </p>
                                        <button type="button"  class="slide-btn">
                                            get started
                                        </button>
                                        <button type="button"  class="slide-btn">
                                            explore more
                                        </button>
                                    </div><!-- /.single-slide-item-content-->
                                
                                </div><!-- /.col-->
                            </div><!-- /.row-->
                        </div><!-- /.container-->
                    </div><!-- /.single-slide-item-->
                </div><!-- /.item .active-->

            </div>
            				<!-- Controls -->
            <a class="left carousel-control" href="#index_carousel" role="button" data-slide="prev">
                <span class="lnr lnr-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#index_carousel" role="button" data-slide="next">
                <span class="lnr lnr-chevron-right"></span>
            </a>

        </div>

    </section>
    <section>
        <div class="container mt-3">
            <div class="row">
                <div id="brief_div" class="col-sm-6 col-12">
                    <div class="brief">
                        brief 
                    </div>
                    <div class="buttons_group">
                        <button id="register_button">register</button>
                        <button id="login_button">login</button>
                    </div>
                </div>
                <div id="example_div" class="col-sm-6">example</div>
            </div>
        </div>

    </section>
    <script type="text/javascript" src="static/js/owl.carousel.min.js"></script>
</body>
{% endblock %}