<!DOCTYPE html>
<link href="static/css/index.css" rel="stylesheet">
<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<body>
    {% extends "base.html" %}
    {% block content %}
    <section class="introduction" style="height:600px">
        <div class="container">
            <div id="index_carousel"class="carousel slide carousel-fade" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#index_carousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#index_carousel" data-bs-slide-to="1"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" data-bs-interval="8000">
                        <div class="slide_item slide1">
                            <div>
                                <h2>Welcome<br>To Sudoku! </h2>
                                <p>
                                    Sudoku is a logic-based, combinatorial number-placement puzzle. In classic Sudoku, the objective is to fill a 9 × 9 grid with digits so that each column, each row, and each of the nine 3 × 3 subgrids that compose the grid (also called "boxes", "blocks", or "regions") contain all of the digits from 1 to 9. The puzzle setter provides a partially completed grid, which for a well-posed puzzle has a single solution.
                                </p>
                                <div style="margin-left: 150px;">
                                    <a href="{{ url_for('introduction') }}"><button type="button" class="slide-btn">learn more</button></a>

                                            {% if user %}
                                            <a href="{{ url_for('game') }}"><button type="button" class="slide-btn">get started</button></a>
                                            {% else %}
                                            <a href="{{ url_for('login') }}"><button type="button" class="slide-btn">get started</button></a>
                                            {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <div class="slide_item slide2">
                                <div>
                                    <h2>Variations of <br> Grid Sizes</h2>
                                    <p>
                                        Although the 9×9 grid with 3×3 regions is by far the most common, many other variations exist. Sample puzzles can be 4×4 grids with 2×2 regions; 5×5 grids with pentomino regions have been published under the name Logi-5; the World Puzzle Championship has featured a 6×6 grid with 2×3 regions and a 7×7 grid with six heptomino regions and a disjoint region. 
                                    </p>
                                    <div style="margin-left: 150px;">
                                        <a href="{{ url_for('introduction') }}"><button type="button" class="slide-btn">learn more</button></a>
                                                {% if user %}
                                                <a href="{{ url_for('game') }}"><button type="button" class="slide-btn">get started</button></a>
                                                {% else %}
                                                <a href="{{ url_for('login') }}"><button type="button" class="slide-btn">get started</button></a>
                                                {% endif %}
                                    </div>
                                </div><!-- /.single-slide-item-content-->
                        </div><!-- /.single-slide-item-->
                    </div><!-- /.item .active-->
    
                </div>
                <!-- Controls -->
                <a class="left carousel-control-prev" href="#index_carousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="right carousel-control-next" href="#index_carousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
    
            </div>



        </div>

    </section>

</body>
{% endblock %}