{% extends "base.html" %}

{% block content %}

<link href="static/css/login.css" rel="stylesheet">
		<div class="container">
			<!-- <div class="row justify-content-center m-5">
				<div class="col-md-6 text-center">
					<h2 class="heading-section">Login</h2>
				</div>
			</div> -->
			<div class="row justify-content-center">
				<div class="login-pad col-md-6 col-lg-4">
					<h2 class="heading-section">Login</h2>
					<div class="login-wrap p-0">
						<form action="/login" method="post" class="login-form" novalidate>
							<div class="form-group">
								<input type="text" name="username" class="form-control" placeholder="Username" required>
							</div>
							<div class="form-group">
							<input id="password-field" name="password" type="password" class="form-control" placeholder="Password" required>
							<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>
							{% for message in get_flashed_messages() %}
							<div class="form-group">
								<div class="text-danger">{{ message }}</div>
							</div>
							{% endfor %}
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
							</div>
						<div class="form-group d-md-flex">
							<div class="w-50">
								<label class="checkbox-wrap checkbox-primary">Remember Me
											<input type="checkbox" name="remember" value="1" checked>
											<span class="checkmark"></span>
								</label>
							</div>
						</div>
					</form>
						<p class="w-100 text-center">&mdash; <a href="register" style="color:white;">OR SIGN UP</a> &mdash;</p>

		      </div>
				</div>
			</div>
		</div>
{% endblock %}