{% extends "base.html" %}
{% block content %}
<script src="static/js/jquery-3.6.0.js"></script>
<link href="static/css/personal.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-4 head_pic" id="head_pic">
            <div>
<!--            <img id="current_avatar" src="{{ result_dict.head_pic_url }}" alt="head picture" enctype="application/x-www-form-urlencoded">-->
                <img id="current_avatar" src="{{ result_dict.head_pic_url }}" alt="head picture">
            </div>
            <div class="user">
                <h3 id="name">Username: {{ result_dict["username"] }}</h3>
            </div>
            <div class="head_pic_upload">
                <button id="open_button" class="upload">upload head picture</button>
                <div id="background" class="back">
                    <div id="window" class="win_content">
                        <div id="close">
                            <span id="close-button">×</span>
                        </div>
                        <div class="upload_head_display">
                            <form id="upload_head_pic_form">
                                <h1>upload head picture</h1>
                <!--                <div class="form-group">-->
                <!--                    <label id="current_head_pic">current head pic</label>-->
                <!--                    <img id="change_pic" src="{{ result_dict.head_pic_url }}" alt="head picture">-->
                <!--                </div>-->
                                <div class="form-group">
                                    <label id="upload_label">upload head pic</label>
                                    <input id="headpic_input" type="file" name="headpic">
                                </div>
                                <div class="form-group">
                                    <input id="save_button" type="submit" value="save">
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        
        </div>

        <div class="col-lg-8 rank">
            <h1>personal rank</h1>
            Current page：{{ paginate.page }}&nbsp;&nbsp; PageCount：{{ paginate.pages }}&nbsp;&nbsp; total:{{ paginate.total }}<br>
            <table class="table table-bordered table-hover" id="rank_list">
                <tr>
                    <th>start time</th>
                    <th>finish time</th>
                    <th>time spent</th>
                </tr>

                {% for li in result_dict["rank_list"] %}
                    <tr>
                        <td>{{li["start_time"]}}</td>
                        <td>{{li["finish_time"]}}</td>
                        <td>{{ li["time_spent"] }}s</td>
                    </tr>
                {% endfor %}
            </table>
            {% if paginate.has_prev %}
                <a href="/personal?page={{ paginate.prev_num }}">previous page</a>
            {% endif %}

            {% if paginate.has_next %}
                <a href="/personal?page={{ paginate.next_num }}">next page</a>
            {% endif %}
        </div>
    </div>


</div>
<script src="static/js/personal.js"></script>

{% endblock %}
